body {
  /* background-color: aquamarine; */
  display: flex;
  flex-flow: column wrap;
  padding: 0px;
  margin: 0px;
}

.footer,
.header,
.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

.nav-links,
.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 18px;
  text-decoration: none;
  list-style-type: none;
}

img {
    width: 600px;
    height: 300px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-weight: bolder;
  font-size: 48px;
}

.signup-btn{
    color: white;
    background-color:#3882F6;
    border: none;
    border-radius: 12px;
    width: 120;
    height: 35px;
    font-weight: bold;
}

.info-ttl{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 1em;
}

.info > img{
    width: 125px;
    height: 125px;
    border: 2px solid #3882F6 ;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
}

.info {
    max-width: 200px;
}

.quote {
  padding: 100px;
  background-color: #E5E7EB;
  font-size: 36px;
  text-align: center;
  font-style: italic;
}

.action {
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  margin: 100px 200px;
  padding: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
}

.whiteborder{
  border: 2px solid white
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px
}